
//TEST CODE
*{
    outline: solid red 1px !important;
}
// CSS VARIABLES
:root {
    --color-accent: hsl(180, 0%, 77%);
    --color-primary: hsl(19 0% 53%);
    --color-primary-light: hsl(40, 0%, 80%);
    --color-primary-dark: hsl(19, 0%, 20%);
    --color-text-dark: hsl(88, 0%, 40%);
    --color-text-light: hsl(88, 0%, 95%);
}
// SCSS VARIABLES
$color-accent: var(--color-accent);
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);
$color-text-dark: var(--color-text-dark);
$color-text-light: var(--color-text-light);

.hero{
  background-color: lightgreen;
  height: 80vh;
  display: flex;
  background-image: linear-gradient(25deg, red, rgba(255, 255, 0, 0.096)), url(images/feature.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  // justify-content: space-evenly;
  align-items: center;
  .caption{
    // padding: 10rem 1rem;
color: wheat;
  }

}

.features {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: min(1rem, 5rem);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
  img {
  width: 100%;
}
.feature-list li {
  list-style: none;
  margin: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.5;
}
.branding{
    display: flex;
    align-items: center;
}

a.btn.card-btn {
    color: $color-text-dark;
  text-decoration: none;
  outline: solid 1px $color-text-dark;
  padding: 0.5rem 1rem;
  align-self: flex-end;
  margin-top: 1rem;
  font-size: 0.7rem;
  font-weight: 800;
  border-radius: 3px;
  /* background-color: $color-primary-light); */
}
.feature-list {
    padding-left: 0;
    margin: 0;
}
.feature-card {
  position: relative;
  width: 20rem;
  min-width: 15rem;
  flex-wrap: wrap;
  overflow: hidden; /* to let the border radius to apply on the image */
  border-radius: 10px;
  box-shadow: #0000005e 1px 2px 20px -6px;
  h2 {
      width: 50%;
      background-color: $color-accent;
      color: $color-text-dark;
    font-size: 1rem;
    /* text-align: center; */
    padding: 0.5rem 1rem;
    /* margin-top: -15px; */
    margin: auto;
    position: absolute;
    /* line-height: 0.2; */
    /* top: -4%; */
    /* outline: solid $color-primary-light 2px; */
    
    /* if you use a negative margin, the heading background will slide under the feature image */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }
}
.feature-body {
  padding: 2rem;
  color: $color-text-dark;
  display: flex;
  flex-direction: column;
  /* background-color: $color-text-light; */
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3rem;
}

nav ul{
    display: flex;
    gap: 2rem;
    li{
        list-style: none;
    }
    a{
        color: initial;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
    }
}